@page "/"

@{
    var x = 123;
    var y = 456;
}

<h1>Hello, world!</h1>

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

<div>
    <span>@DateTime.Now</span>
    @if (true)
    {
        x = 123;
        <span>@x</span>
    }
</div>

@{
    y = 456;
}

@code {
    public string Prop { get; set; }

    public string[] SomeList { get; set; }

    public class Foo
    {
        @* This is a Razor Comment *@
        void Method() { }
    }
}